/* Set height of body and the document to 100% to enable "full page tabs" */
body, html {
    height: 110%;
    margin: 0;
    font-family: Arial;
  }
 
  /* Style tab links */
  .tablink {
    background-color: #10eb10;
    color: rgb(250, 245, 245);
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
  }
  
  .tablink:hover {
    background-color: #3bfc0b;
  }
  
  /* Style the tab content (and add height:100% for full page content) */
  .tabcontent {
    color: rgb(238, 232, 232);
    display: none;
    padding: 100px 20px;
    height: 100%;
    text-align: center;
  }
  
  #Home {background-color: rgb(0, 0, 0);}
  #News {background-color: rgb(0, 0, 0);}
  #Contact {background-color: rgb(0, 0, 0);}
  #About {background-color: rgb(0, 0, 0);}